@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #8c8b73;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c4b;
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    width: 20px;
}

::selection {
    background-color: #8c8b73;
    color: white;
}

body { 
    background-color: #FAFAF9;
    transition: background-color 0.3s ease;
}


body,
a,
button {
    cursor: none;
}

#navbar {
    transition: background-color 0.3s ease;
}
.bounce {
    transform: rotate(90deg);
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0% {
        transform: rotate(90deg) translateY(0%) scale(3%);
    }
    50% {
        transform: rotate(90deg) translateY(0%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    100% {
        transform: rotate(90deg) translateY(-90%) scale(3%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
}

.outline-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
    font-weight: 700;
    font-size: 10vw;
    animation: yay 3s infinite ease-in;
}
/* @keyframes yay {
    0% {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 3px;
        font-weight: 700;
        font-size: 10vw;
    }

    100% {
        -webkit-text-fill-color: #262626;
        -webkit-text-stroke: 0px;
        font-weight: 700;
        font-size: 10vw;
    }
}

.heading-1 {
    -webkit-text-fill-color: #262626;
    -webkit-text-stroke: 0px;
    font-weight: 700;
    font-size: 10vw;
    animation: heading-1 3s infinite ease-in;
    animation-delay: 10s;
}
@keyframes heading-1 {
    0% {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 3px;
        font-weight: 700;
        font-size: 10vw;
    }

    100% {
        -webkit-text-fill-color: #262626;
        -webkit-text-stroke: 0px;
        font-weight: 700;
        font-size: 10vw;
    }
}

.heading-3 {
    -webkit-text-fill-color: #262626;
    -webkit-text-stroke: 0px;
    font-weight: 700;
    font-size: 10vw;
    animation: heading-3 3s infinite ease-in;
    animation-delay: 10s;
}
@keyframes heading-3 {
    0% {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 3px;
        font-weight: 700;
        font-size: 10vw;
    }

    100% {
        -webkit-text-fill-color: #262626;
        -webkit-text-stroke: 0px;
        font-weight: 700;
        font-size: 10vw;
    }
}

@media not all and (min-width: 768px) {
    .outline-text {
        font-size: 12.5vw;
    }
} */

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 550ms;
}

.transition-button {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.about:focus,
.about:hover {
    color: #8c8b73;
    transition: 300ms;
}

.about:focus::after,
.about:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}

.about::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: #8c8b73;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.service:focus,
.service:hover {
    color: #8c8b73;
    transition: 300ms;
}

.service:focus::after,
.service:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}

.service::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: #8c8b73;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.project:focus,
.project:hover {
    color: #8c8b73;
    transition: 300ms;
}

.project:focus::after,
.project:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}

.project::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: #8c8b73;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.talk:focus,
.talk:hover {
    color: white;
}

.talk:focus::after,
.talk:hover::after {
    width: 59%;
    left: 20%;
    transition: 300ms;
}

.talk::after {
    content: "";
    position: absolute;
    bottom: 31px;
    left: 20%;
    width: 0%;
    height: 1px;
    background-color: #8c8b73;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.github:focus::after,
.github:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}

.github::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 0%;
    height: 2.5px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.gitlab:focus::after,
.gitlab:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}

.gitlab::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 0%;
    height: 2.5px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.linkedin:focus::after,
.linkedin:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}

.linkedin::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 0%;
    height: 2.5px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.insta:focus::after,
.insta:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}

.insta::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 0%;
    height: 2.5px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.about-me-para {
    position: -webkit-sticky;
    position: sticky;
    top: 10.4%;
}